<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.xt.jokii.carserv"
    android:versionCode="7"
    android:versionName="1.6.1" >

    <uses-sdk android:minSdkVersion="10" android:targetSdkVersion="17"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/vw_passat_sml"
        android:label="@string/app_name" android:name="MyApplication">
        <activity
            android:name="Car_servActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="EntryDetail">
            <intent-filter>
                <action android:name="pl.xt.jokii.carserv.action.EntryDetail"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="NewEntry"></activity>
        <activity android:name="DialogActivity"
                  android:theme="@android:style/Theme.Dialog">
        </activity>
        
        <provider android:name="pl.xt.jokii.db.CarServProvider"
            	  android:authorities="pl.xt.jokii.db.CarServProvider"/>
        
        <receiver android:name="pl.xt.jokii.reminder.ReminderAlarm"></receiver>
        
        <receiver android:name="pl.xt.jokii.reminder.SetUpAlarmsOnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        		     
        
    </application>
    

</manifest>